In [76]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import os
import os
import sys
import pandas as pd
from typing import List, Dict, Optional
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")
import plotly.express as px

In [77]:
dataset_path = r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx'

In [78]:
main_df = pd.read_excel(r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx')

In [79]:
main_df.shape

(32873, 34)

In [80]:
main_df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [81]:
import pandas as pd

# Original data
d = pd.DataFrame([
    ["BED,BAR", "ATA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-1", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-2", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHE", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
], columns=[
    "Division",
    "Sub-Division",
    "Total Complaint Count (A+B+C)",
    "Complain Count (A)",  
    "Hour <2 (A)",
    "Hour 2<4 (A)",
    "Hour 4<8 (A)",
    "Hour <8 (A)",
    "Complain Count (B)",
    "Hour <2 (B)",
    "Hour 2<4 (B)",
    "Hour 4<8 (B)",
    "Hour <8 (B)",
    "Complain Count (C)",
    "Hour <2 (C)",
    "Hour 2<4 (C)",
    "Hour 4<8 (C)",
    "Hour <8 (C)",
    "Closed Out of Total",
    "Hour <2 (Closed)",
    "Hour 2<4 (Closed)",
    "Hour 4<8 (Closed)",
    "Hour <8 (Closed)",    
    "Un-Identified Complaints"
])

# Calculate row-wise total (excluding Division and Sub-Division)
numeric_cols = d.columns[2:]
d['Row Total'] = d[numeric_cols].sum(axis=1)

# Calculate column-wise total
col_totals = d[numeric_cols].sum()
col_totals['Row Total'] = d['Row Total'].sum()

# Build grand total row with correct length
grand_total_values = ['Grand Total', ''] + list(col_totals.values)
grand_total_row = pd.DataFrame([grand_total_values], columns=d.columns)

# Append grand total row
df_final = pd.concat([d, grand_total_row], ignore_index=True)

# Optional: replace zeros with empty strings for display
df_final_display = df_final.replace(0, "")

In [82]:
df_final_display

,Division,Sub-Division,Total Complaint Count (A+B+C),Complain Count (A),Hour <2 (A),Hour 2<4 (A),Hour 4<8 (A),Hour <8 (A),Complain Count (B),Hour <2 (B),...,Hour 2<4 (C),Hour 4<8 (C),Hour <8 (C),Closed Out of Total,Hour <2 (Closed),Hour 2<4 (Closed),Hour 4<8 (Closed),Hour <8 (Closed),Un-Identified Complaints,Row Total
0,"BED,BAR",ATA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
1,"BED,BAR",BAR-1,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
2,"BED,BAR",BAR-2,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
3,"BED,BAR",BHA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
4,"BED,BAR",BHE,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
5,Grand Total,,50,10,15,5,20,,,,...,15,5,20,,,,,,,200

In [83]:
df = main_df.copy()

In [84]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [85]:
day_filter_data = df[df['DATE'] == '2025-11-25']

In [97]:
day_filter_data.head(2)

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,ARREARS,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE
32154,32155,2025-11-25,C,Complaint,Mr. Madan Behera tweeted about the unsafe cond...,NaN,RAIRAKHOL,RAIRAKHOL,SAMBALPUR-E,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
32155,32156,2025-11-25,C,Complaint,Mr. \nSkumar wrote about power supply failure ...,4251125000025,BGH-4,BARGARH-1,BARGARH,BARGARH,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [87]:
def style_dataframe_headers(df):
    """Apply styling to highlight column headers (column names) only"""
    
    styled_df = df.style.set_table_styles([
        {
            'selector': 'thead tr th',
            'props': [
                ('background-color', '#4CAF50'),
                ('color', 'white'),
                ('font-weight', 'bold'),
                ('text-align', 'center'),
                ('padding', '10px'),
                ('font-size', '14px')
            ]
        }
    ])
    
    return styled_df

In [88]:
day_filter_data.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [89]:
import pandas as pd

# Sample data
data = {
    'A': ['10:09 AM', '10:31 AM', '10:34 AM', '07:25 AM'],
    'B': ['10:10 AM', '12:48 PM', '12:46 PM', '11:31 AM']
}
time_df = pd.DataFrame(data)

In [90]:
time_df

          A         B
0  10:09 AM  10:10 AM
1  10:31 AM  12:48 PM
2  10:34 AM  12:46 PM
3  07:25 AM  11:31 AM

In [91]:
# Convert to datetime
time_df['A'] = pd.to_datetime(time_df['A'], format='%I:%M %p')
time_df['B'] = pd.to_datetime(time_df['B'], format='%I:%M %p')

# Calculate time difference
time_df['diff'] = time_df['B'] - time_df['A']

# Extract hour only, set minutes to zero
time_df['hour_diff'] = time_df['diff'].apply(lambda x: x.seconds // 3600 if x.seconds % 3600 == 0 else f"{x.seconds // 3600}")

In [92]:
time_df

                    A                   B            diff hour_diff
0 1900-01-01 10:09:00 1900-01-01 10:10:00 0 days 00:01:00         0
1 1900-01-01 10:31:00 1900-01-01 12:48:00 0 days 02:17:00         2
2 1900-01-01 10:34:00 1900-01-01 12:46:00 0 days 02:12:00         2
3 1900-01-01 07:25:00 1900-01-01 11:31:00 0 days 04:06:00         4

In [93]:
day_filter_data.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [95]:
day_filter_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 32154 to 32180
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SL.NO                           27 non-null     object
 1   DATE                            27 non-null     datetime64[ns]
 2   SHIFT DUTY                      27 non-null     object
 3   QUERY/REQUEST/COMPLAINT         27 non-null     object
 4   COMPLAINT DETAILS               27 non-null     object
 5   COMPLAINT NUMBER                4 non-null      object
 6   SECTION                         23 non-null     object
 7   SUB-DIVISION                    24 non-null     object
 8   DIVISION                        24 non-null     object
 9   CIRCLE                          24 non-null     object
 10  COMPLAINT TYPE                  27 non-null     object
 11  CONSUMER NUMBER                 8 non-null      object
 12  MOBILE NUMB                     2 non-null      object
 13  DEPT                            27 non-null     object
 14  CLOSED/OPEN                     27 non-null     object
 15  REMARKS                         27 non-null     object
 16  TWEET/LINK                      27 non-null     object
 17  COMPLAINANT NAME                27 non-null     object
 18  COMPLAINT RECEIVED TIME         27 non-null     object
 19  RESPONSE TIME                   27 non-null     object
 20  SECOND RESPONSE TIME            26 non-null     object
 21  FINAL RESPONSE TIME             15 non-null     object
 22  FINAL RESPONSE DATE DD/MM/YYYY  15 non-null     object
 23  PSCC/FG/TO                      7 non-null      object
 24  ARREARS                         4 non-null      object
 25  REPEAT (Y / N)                  0 non-null      object
 26  FORWARDED TO                    0 non-null      object
 27  SENTIMENTS                      0 non-null      object
 28  NATURE OF TWEET                 0 non-null      object
 29  ACTIONABLE/ NON ACTIONABLE      0 non-null      object
 30  AGEING                          0 non-null      float64
 31  SLAB                            0 non-null      object
 32  SLAB2                           0 non-null      object
 33  MINUTE                          27 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(31)
memory usage: 7.4+ KB

In [101]:
import pandas as pd

# Convert to datetime safely
day_filter_data['COMPLAINT RECEIVED TIME'] = pd.to_datetime(
    day_filter_data['COMPLAINT RECEIVED TIME'], format='mixed', errors='coerce'
)
day_filter_data['FINAL RESPONSE TIME'] = pd.to_datetime(
    day_filter_data['FINAL RESPONSE TIME'], format='mixed', errors='coerce'
)

day_filter_data['close_open_hour'] = (
    (day_filter_data['FINAL RESPONSE TIME'] - day_filter_data['COMPLAINT RECEIVED TIME'])
    .dt.total_seconds() / 3600   # use division, not integer truncation
).fillna(0).round().astype(int)

In [102]:
day_filter_data

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE,close_open_hour
32154,32155,2025-11-25,C,Complaint,Mr. Madan Behera tweeted about the unsafe cond...,NaN,RAIRAKHOL,RAIRAKHOL,SAMBALPUR-E,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0
32155,32156,2025-11-25,C,Complaint,Mr. \nSkumar wrote about power supply failure ...,4251125000025,BGH-4,BARGARH-1,BARGARH,BARGARH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0
32156,32157,2025-11-25,C,Complaint,Mr. rkb97officialwrote with a newspaper clip a...,NaN,UTKELA,KESINGA,KEED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0
32157,32158,2025-11-25,C,Complaint,Mr. rkb97official wrote with a newspaper clip ...,NaN,LAHUNIPARA,SDO-7 BONAI,ROURKELA-SADAR,ROURKELA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,0
32158,32159,2025-11-25,C,Complaint,Mr. saroj sahu wrote about delay in NSC due to...,NaN,HIRAKUD,HIRAKUD,SAMBALPUR,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0
32159,32160,2025-11-25,A,Complaint,Mr. Pradip wrote with a newspaper clip about a...,NaN,KUSUMI,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0
32160,32161,2025-11-25,A,Query,Mr. Pradip wrote with a newspaper clip about p...,NaN,BANDHBAHAL,BELPAHAR,BRAJARAJNAGAR,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0
32161,32162,2025-11-25,A,Complaint,Mr. satya wrote about low voltage issue in Lat...,4251125000589\t,LAHUNIPARA,SDO-7 BONAI,ROURKELA-SADAR,ROURKELA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32162,32163,2025-11-25,A,Complaint,Mr. Abhaya Panda wrote with a newspaper clip a...,NaN,BHUKTA,BHATLI,BARGARH,BARGARH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0
32163,32164,2025-11-25,A,Complaint,Mr. Bikramkesh4707 wrote with a newspaper clip...,NaN,LAHUNIPARA,SDO-7 BONAI,ROURKELA-SADAR,ROURKELA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0
32164,32165,2025-11-25,A,Query,Mr. \nDEEPA BARIK wrote with a newspaper clip ...,NaN,BANDHBAHAL,BELPAHAR,BRAJARAJNAGAR,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0
32165,32166,2025-11-25,A,Complaint,Mr. REETA RANI MAHATO dmed regarding ULA solar...,41317112500529,SEC-3,BHAWANIPATNA NO-2,KEED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32166,32167,2025-11-25,A,Complaint,Mr. DEEPA BARIK wrote about streetlights issue,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0
32167,32168,2025-11-25,A,Complaint,Mr. Technical Gulsan wrote about NSC applicati...,NaN,KHARIAR ROAD-1,KHARIAR ROAD,NUAPADA,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0
32168,32169,2025-11-25,A,Complaint,Mr. @rkb97official wrote with a newspaper clip...,NaN,KUSUMI,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0
32169,32170,2025-11-25,A,Query,Mr. rkb97official wrote with a newspaper clip ...,NaN,BANDHBAHAL,BELPAHAR,BRAJARAJNAGAR,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32170,32171,2025-11-25,A,Complaint,Mr. SUDIPTA KHATUA wrote with a newspaper clip...,NaN,KUSUMI,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,0
32171,32172,2025-11-25,A,Complaint,Mr. SUDIPTA KHATUA wrote with a newspaper clip...,NaN,BHUKTA,BHATLI,BARGARH,BARGARH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0
32172,32173,2025-11-25,A,Query,Mr. MrKanhaBehera1 thanked us for resolving th...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
32173,32174,2025-11-25,A,Query,Mr. Dillip Kumar Das dmed regarding power supp...,NaN,SECTION-II,JUNAGARH,KWED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0
32174,32175,2025-11-25,A,Query,Mr. Bikramkesh4707 wrote with a newspaper clip...,NaN,BANDHBAHAL,BELPAHAR,BRAJARAJNAGAR,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32175,32176,2025-11-25,A,Complaint,Mr.@Bikramkesh4707 wrote with a newspaper clip...,NaN,KUSUMI,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32176,32177,2025-11-25,A,Complaint,Mr.@Bikramkesh4707 wrote with a newspaper clip...,NaN,KUSUMI,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
32177,32178,2025-11-25,B,Query,Mr. Dillip Kumar Das dmed regarding power supp...,NaN,SECTION-II,JUNAGARH,KWED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0
32178,32179,2025-11-25,B,Complaint,Mr. @BhagatSingh_07 wrote about no power suppl...,4251125004609,SINAPALI,KHARIAR,NUAPADA,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,0
32179,32180,2025-11-25,B,Query,Mr. @BhagatSingh_07 thanked us on power restor...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
32180,32181,2025-11-25,B,Complaint,Mr. @Bikramkesh4707 wrote about low voltage is...,NaN,NaN,KESINGA,KEED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,0