In [18]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import os
import os
import sys
import pandas as pd
from typing import List, Dict, Optional
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")
import plotly.express as px

In [19]:
dataset_path = r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx'

In [20]:
main_df = pd.read_excel(r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx')

In [21]:
main_df.shape

(32873, 34)

In [22]:
main_df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [23]:
import pandas as pd

# Original data
d = pd.DataFrame([
    ["BED,BAR", "ATA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-1", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-2", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHE", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
], columns=[
    "Division",
    "Sub-Division",
    "Total Complaint Count (A+B+C)",
    "Complain Count (A)",  
    "Hour <2 (A)",
    "Hour 2<4 (A)",
    "Hour 4<8 (A)",
    "Hour <8 (A)",
    "Complain Count (B)",
    "Hour <2 (B)",
    "Hour 2<4 (B)",
    "Hour 4<8 (B)",
    "Hour <8 (B)",
    "Complain Count (C)",
    "Hour <2 (C)",
    "Hour 2<4 (C)",
    "Hour 4<8 (C)",
    "Hour <8 (C)",
    "Closed Out of Total",
    "Hour <2 (Closed)",
    "Hour 2<4 (Closed)",
    "Hour 4<8 (Closed)",
    "Hour <8 (Closed)",    
    "Un-Identified Complaints"
])

# Calculate row-wise total (excluding Division and Sub-Division)
numeric_cols = d.columns[2:]
d['Row Total'] = d[numeric_cols].sum(axis=1)

# Calculate column-wise total
col_totals = d[numeric_cols].sum()
col_totals['Row Total'] = d['Row Total'].sum()

# Build grand total row with correct length
grand_total_values = ['Grand Total', ''] + list(col_totals.values)
grand_total_row = pd.DataFrame([grand_total_values], columns=d.columns)

# Append grand total row
df_final = pd.concat([d, grand_total_row], ignore_index=True)

# Optional: replace zeros with empty strings for display
df_final_display = df_final.replace(0, "")

In [24]:
df_final_display

,Division,Sub-Division,Total Complaint Count (A+B+C),Complain Count (A),Hour <2 (A),Hour 2<4 (A),Hour 4<8 (A),Hour <8 (A),Complain Count (B),Hour <2 (B),...,Hour 2<4 (C),Hour 4<8 (C),Hour <8 (C),Closed Out of Total,Hour <2 (Closed),Hour 2<4 (Closed),Hour 4<8 (Closed),Hour <8 (Closed),Un-Identified Complaints,Row Total
0,"BED,BAR",ATA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
1,"BED,BAR",BAR-1,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
2,"BED,BAR",BAR-2,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
3,"BED,BAR",BHA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
4,"BED,BAR",BHE,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
5,Grand Total,,50,10,15,5,20,,,,...,15,5,20,,,,,,,200

In [25]:
df = main_df.copy()

In [26]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [27]:
day_filter_data = df[df['DATE'] == '2025-11-25']

In [28]:
day_filter_data.head(2)

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,ARREARS,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE
32154,32155,2025-11-25,C,Complaint,Mr. Madan Behera tweeted about the unsafe cond...,NaN,RAIRAKHOL,RAIRAKHOL,SAMBALPUR-E,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
32155,32156,2025-11-25,C,Complaint,Mr. \nSkumar wrote about power supply failure ...,4251125000025,BGH-4,BARGARH-1,BARGARH,BARGARH,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [29]:
def style_dataframe_headers(df):
    """Apply styling to highlight column headers (column names) only"""
    
    styled_df = df.style.set_table_styles([
        {
            'selector': 'thead tr th',
            'props': [
                ('background-color', '#4CAF50'),
                ('color', 'white'),
                ('font-weight', 'bold'),
                ('text-align', 'center'),
                ('padding', '10px'),
                ('font-size', '14px')
            ]
        }
    ])
    
    return styled_df

In [30]:
colour_df = style_dataframe_headers(day_filter_data)

In [ ]:
import os
import io
import pandas as pd
import streamlit as st

# ----------------------------------------------
def style_dataframe_headers(df):
    """Apply styling to highlight column headers (column names) only"""
    styled_df = df.style.set_table_styles([
        {
            'selector': 'thead tr th',
            'props': [
                ('background-color', '#4CAF50'),
                ('color', 'white'),
                ('font-weight', 'bold'),
                ('text-align', 'center'),
                ('padding', '10px'),
                ('font-size', '14px')
            ]
        }
    ])
    return styled_df


def style_grand_total_dataframe(df_pivot):
    """Apply styling to highlight Grand_Total row"""
    if 'Grand_Total' in df_pivot['COMPLAINT TYPE'].values:
        def highlight_grand_total(row):
            if row['COMPLAINT TYPE'] == 'Grand_Total':
                return ['background-color: #ff0000; color: white; font-weight: bold'] * len(row)
            else:
                return [''] * len(row)
        return df_pivot.style.apply(highlight_grand_total, axis=1)
    else:
        return df_pivot


try:
    with tab1:
        st.success("üõ†Ô∏è This project is under development.")
        st.header("üìä All Department Complaint Type Report")
        st.caption("View complaints categorized by type, department, and status (Open/Closed)")

        # Validate dataset path exists
        if not dataset_path:
            st.error("‚ùå Dataset path is not provided.")
            st.info("‚ÑπÔ∏è Please configure the dataset path in the settings.")

        elif not os.path.exists(dataset_path):
            st.error(f"‚ùå Dataset not found at: `{dataset_path}`")
            st.info("‚ÑπÔ∏è Please verify the file path and try again.")

        else:
            # Show loading spinner while processing
            with st.spinner("üìä Loading data..."):
                complaint_data = generate_all_agging_complaint_report(dataset_path)

            # Check if data is None or empty
            if complaint_data is None:
                st.warning("‚ö†Ô∏è No data available to display.")
                st.info("‚ÑπÔ∏è The dataset may be empty or contain no valid records.")
            else:
                complaint_df = complaint_data

                # Display success message with record count
                st.success(f"‚úÖ Successfully loaded {len(complaint_df):,} records.")

                # Apply both header styling and Grand_Total row styling
                styled_df = style_dataframe_headers(complaint_df)
                styled_df = style_grand_total_dataframe(complaint_df)

                # Display styled dataframe (use st.write instead of st.dataframe)
                st.write(styled_df)

                # Save DataFrame to BytesIO buffer
                buffer = io.BytesIO()
                df_to_save = complaint_df.copy()

                # Flatten MultiIndex columns if they exist
                if isinstance(df_to_save.columns, pd.MultiIndex):
                    df_to_save.columns = [
                        '_'.join(map(str, col)).strip('_') for col in df_to_save.columns.values
                    ]

                # Save to Excel
                df_to_save.to_excel(buffer, index=False, engine='openpyxl')
                buffer.seek(0)

                # Download button
                st.download_button(
                    label="üì• Download Data as Excel",
                    data=buffer,
                    file_name="complaint_report.xlsx",
                    mime="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                )

                logger.info("Tab 1: All Agging Complaint Report displayed successfully")
                st.caption(f"Last loaded: {pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')}")
                st.divider()

except Exception as e:
    error_msg = str(CustomException(e, sys))
    logger.error("Dashboard rendering error | error=%s", error_msg)
    st.error("‚ùå An unexpected error occurred while rendering the dashboard.")
    with st.expander("Show error details"):
        st.code(error_msg)