In [1]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import os
import os
import sys
import pandas as pd
from typing import List, Dict, Optional
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")
import plotly.express as px

In [2]:
dataset_path = r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx'

In [3]:
df = pd.read_excel(r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx')

In [4]:
df

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,ARREARS,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE
0,1,2022-06-10,NaN,NaN,Mr. Mohan Maharana complaint regarding the fun...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0
1,2,2022-06-10,NaN,NaN,Mr.Bhawanispanda complaint regarding the repla...,4206102206136,SECTION-II,JUNAGARH,KWED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0
2,3,2022-06-10,NaN,NaN,Mr. Dumb.Orator complaint regarding the unauth...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0
3,4,2022-06-10,NaN,NaN,"Frequent power interuption At- Sihinapada,Masa...",NaN,NaN,NUAPADA,NUAPADA,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0
4,5,2022-06-10,NaN,NaN,Mr. akshya_patra tweeted that DTR is in unsafe...,4206102207051,SAINTALA,"SDO-2,TITLAGARH",TITLAGARH,BOLANGIR,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32868,32869,2026-01-02,A,Query,Mr. Abhi28153 tweeted regarding no power suppl...,NaN,UTKELA,KESINGA,KEED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
32869,32870,2026-01-02,A,Query,Mr. Amit Khalkho wrote about name correction r...,NaN,BAMRA,KUCHINDA,JHARSUGUDA,SAMBALPUR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
32870,32871,2026-01-02,B,Complaint,Mr.sanjib kar tweeted regarding no power suppl...,4020126001619,UJALPUR,UJALPUR,SUNDERGARH,ROURKELA,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
32871,32872,2026-01-02,B,Query,Mr. Bikram Keshari Mahanta thanked us.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
32872,32873,2026-01-02,B,Query,Mr. Venkatesh Dmed regarding no power supply a...,NaN,BADKUTRU,CHARBAHAL,KWED,KALAHANDI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [5]:
import pandas as pd

# Original data
d = pd.DataFrame([
    ["BED,BAR", "ATA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-1", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BAR-2", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHA", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
    ["BED,BAR", "BHE", 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0, 10, 2, 3, 1, 4, 0, 0, 0, 0, 0, 0],
], columns=[
    "Division",
    "Sub-Division",
    "Total Complaint Count (A+B+C)",
    "Complain Count (A)",  
    "Hour <2 (A)",
    "Hour 2<4 (A)",
    "Hour 4<8 (A)",
    "Hour <8 (A)",
    "Complain Count (B)",
    "Hour <2 (B)",
    "Hour 2<4 (B)",
    "Hour 4<8 (B)",
    "Hour <8 (B)",
    "Complain Count (C)",
    "Hour <2 (C)",
    "Hour 2<4 (C)",
    "Hour 4<8 (C)",
    "Hour <8 (C)",
    "Closed Out of Total",
    "Hour <2 (Closed)",
    "Hour 2<4 (Closed)",
    "Hour 4<8 (Closed)",
    "Hour <8 (Closed)",    
    "Un-Identified Complaints"
])

# Calculate row-wise total (excluding Division and Sub-Division)
numeric_cols = d.columns[2:]
d['Row Total'] = d[numeric_cols].sum(axis=1)

# Calculate column-wise total
col_totals = d[numeric_cols].sum()
col_totals['Row Total'] = d['Row Total'].sum()

# Build grand total row with correct length
grand_total_values = ['Grand Total', ''] + list(col_totals.values)
grand_total_row = pd.DataFrame([grand_total_values], columns=d.columns)

# Append grand total row
df_final = pd.concat([d, grand_total_row], ignore_index=True)

# Optional: replace zeros with empty strings for display
df_final_display = df_final.replace(0, "")

In [6]:
df_final_display

,Division,Sub-Division,Total Complaint Count (A+B+C),Complain Count (A),Hour <2 (A),Hour 2<4 (A),Hour 4<8 (A),Hour <8 (A),Complain Count (B),Hour <2 (B),...,Hour 2<4 (C),Hour 4<8 (C),Hour <8 (C),Closed Out of Total,Hour <2 (Closed),Hour 2<4 (Closed),Hour 4<8 (Closed),Hour <8 (Closed),Un-Identified Complaints,Row Total
0,"BED,BAR",ATA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
1,"BED,BAR",BAR-1,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
2,"BED,BAR",BAR-2,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
3,"BED,BAR",BHA,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
4,"BED,BAR",BHE,10,2,3,1,4,,,,...,3,1,4,,,,,,,40
5,Grand Total,,50,10,15,5,20,,,,...,15,5,20,,,,,,,200

In [7]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [8]:
# Filter rows where CLOSED/OPEN == 'Open' 
df_open = df[df['CLOSED/OPEN'] == 'Open']

In [9]:
df_open.head(2)

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,ARREARS,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE
4182,4183,2023-06-14,NaN,NaN,Mr. Ranjan Dash tweeted regarding the unsafe c...,NaN,TUSURA,BOLANGIR-3,BOLANGIR,BOLANGIR,...,NaN,N,NaN,Negative,Complaint,Actionable,934.0,>180,>365,0.0
5291,5292,2023-07-24,NaN,NaN,Mr Prakrutibandhu tweeted regarding unsafe con...,NaN,HIRAKUD,HIRAKUD,SAMBALPUR,SAMBALPUR,...,NaN,N,NaN,Negative,Complaint,Actionable,894.0,>180,>365,46.0

In [10]:
df_open.shape

(312, 34)

In [11]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [34]:
pivot_data = pd.pivot_table(
    df,
    index='COMPLAINT TYPE',
    columns=['DEPT', 'CLOSED/OPEN'],
    aggfunc='size',
    fill_value=0
)
pivot_data['Grand_Total'] = pivot_data.sum(axis=1)
pivot_data.loc['Grand_Total'] = pivot_data.sum(axis=0)
pivot_data = pivot_data.astype(int)  # Convert to Python int
pivot_data = pivot_data.reset_index()

In [35]:
pivot_data

DEPT                     COMPLAINT TYPE Commercial         O&M              \
CLOSED/OPEN                                 Closed Open Closed Open closed
0                               Billing        818    1      0    0      0
1                           Civil Works          0    0      1    0      0
2                           Civil works          0    0   1750  148      2
3                       Electrification          0    0    643    0      0
4                           Low Voltage          0    0   1311    1      0
5                              Metering        193    0      0    0      0
6                       NO Power Supply          0    0      8    0      0
7                                   NSC        768    8      0    0      0
8                       No Power Supply          0    0   6686    0      0
9                                Others          0    0    381    0      0
10                              Payment        140    0      0    0      0
11           Pole Shifting / Lt Sagging          0    0    972   72      0
12                       Portal Problem        253    0      0    0      0
13                         Power Outage          0    0  11443    0      1
14                               Safety          0    0   1783   66      0
15                                Solar         72    1      0    0      0
16            Transformer failure / NCC          0    0    794    2      0
17                              billing          1    0      0    0      0
18                                  nsc          1    0      0    0      0
19                               others          0    0      0    0      0
20                               safety          0    0     44    1      0
21                          Grand_Total       2246   10  25816  290      3

DEPT         Other      Grand_Total
CLOSED/OPEN Closed Open
0                0    0         819
1                0    0           1
2                0    0        1900
3                0    0         643
4                0    0        1312
5                0    0         193
6                0    0           8
7                0    0         776
8                0    0        6686
9             4423   12        4816
10               0    0         140
11               0    0        1044
12               0    0         253
13               0    0       11444
14               2    0        1851
15               0    0          73
16               0    0         796
17               0    0           1
18               0    0           1
19              71    0          71
20               0    0          45
21            4496   12       32873

In [ ]:
pivot = pd.pivot_table(
    df_open,
    values='CLOSED/OPEN',          # numeric or countable field
    index='COMPLAINT TYPE',        # rows
    columns='DEPT',                # columns
    aggfunc='count',               # count complaints by dept
    fill_value=0
)
# ➡️ Add Grand Total column (row-wise sum)
pivot['Grand_Total'] = pivot.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pivot.loc['Grand_Total'] = pivot.sum(axis=0)

In [13]:
pivot

DEPT                        Commercial  O&M  Other  Grand_Total
COMPLAINT TYPE
Billing                              1    0      0            1
Civil works                          0  148      0          148
Low Voltage                          0    1      0            1
NSC                                  8    0      0            8
Others                               0    0     12           12
Pole Shifting / Lt Sagging           0   72      0           72
Safety                               0   66      0           66
Solar                                1    0      0            1
Transformer failure / NCC            0    2      0            2
safety                               0    1      0            1
Grand_Total                         10  290     12          312

In [14]:
open_aging_df= df_open.copy()

In [15]:
import pandas as pd
from datetime import datetime

# Ensure DATE column is datetime
open_aging_df['DATE'] = pd.to_datetime(open_aging_df['DATE'])

# Calculate age in days
today = pd.Timestamp.today()
open_aging_df['Age_Days'] = (today - open_aging_df['DATE']).dt.days

# Define age buckets
bins = [0, 15, 30, 60, 90, 180, float('inf')]
labels = ['<15Days', '16-30Days', '31-60Days', '61-90Days', '91-180Days', '>180Days']
open_aging_df['Age_Bucket'] = pd.cut(open_aging_df['Age_Days'], bins=bins, labels=labels, right=True)

In [16]:
open_aging_df.head(1)

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE,Age_Days,Age_Bucket
4182,4183,2023-06-14,NaN,NaN,Mr. Ranjan Dash tweeted regarding the unsafe c...,NaN,TUSURA,BOLANGIR-3,BOLANGIR,BOLANGIR,...,NaN,Negative,Complaint,Actionable,934.0,>180,>365,0.0,936,>180Days

In [17]:

# Pivot table with complaint type + age bucket
pivot_data = pd.pivot_table(
    open_aging_df,
    values='CLOSED/OPEN',          
    index=['COMPLAINT TYPE'],       # rows
    columns=['Age_Bucket'], # valid column names
    aggfunc='count',
    fill_value=0
)

# ➡️ Add Grand Total column (row-wise sum)
pivot_data['Grand_Total'] = pivot_data.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pivot_data.loc['Grand_Total'] = pivot_data.sum(axis=0)

In [18]:
pivot_data

Age_Bucket,<15Days,16-30Days,31-60Days,61-90Days,91-180Days,>180Days,Grand_Total
COMPLAINT TYPE,,,,,,,
Billing,0,0,1,0,0,0,1
Civil works,6,11,18,15,53,45,148
Low Voltage,0,0,1,0,0,0,1
NSC,5,3,0,0,0,0,8
Others,1,4,5,1,1,0,12
Pole Shifting / Lt Sagging,2,3,7,3,26,31,72
Safety,4,1,6,10,21,24,66
Solar,1,0,0,0,0,0,1
Transformer failure / NCC,2,0,0,0,0,0,2
safety,0,0,0,0,0,1,1
Grand_Total,21,22,38,29,101,101,312

In [19]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET/LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY', 'PSCC/FG/TO', 'ARREARS',
       'REPEAT (Y / N)', 'FORWARDED TO', 'SENTIMENTS', 'NATURE OF TWEET',
       'ACTIONABLE/ NON ACTIONABLE', 'AGEING', 'SLAB', 'SLAB2', 'MINUTE'],
      dtype='object')

In [20]:

# Pivot table with complaint type + age bucket
pivot_data_df = pd.pivot_table(
    open_aging_df,
    values='CLOSED/OPEN',        
    index=['COMPLAINT TYPE'],       # rows
    columns=['Age_Bucket','DEPT'], # valid column names
    aggfunc='count',
    fill_value=0
)

# ➡️ Add Grand Total column (row-wise sum)
pivot_data_df['Grand_Total'] = pivot_data_df.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pivot_data_df.loc['Grand_Total'] = pivot_data_df.sum(axis=0)

In [21]:
pivot_data_df

Age_Bucket                    <15Days            16-30Days            \
DEPT                       Commercial O&M Other Commercial O&M Other
COMPLAINT TYPE
Billing                             0   0     0          0   0     0
Civil works                         0   6     0          0  11     0
Low Voltage                         0   0     0          0   0     0
NSC                                 5   0     0          3   0     0
Others                              0   0     1          0   0     4
Pole Shifting / Lt Sagging          0   2     0          0   3     0
Safety                              0   4     0          0   1     0
Solar                               1   0     0          0   0     0
Transformer failure / NCC           0   2     0          0   0     0
safety                              0   0     0          0   0     0
Grand_Total                         6  14     1          3  15     4

Age_Bucket                  31-60Days            61-90Days            \
DEPT                       Commercial O&M Other Commercial O&M Other
COMPLAINT TYPE
Billing                             1   0     0          0   0     0
Civil works                         0  18     0          0  15     0
Low Voltage                         0   1     0          0   0     0
NSC                                 0   0     0          0   0     0
Others                              0   0     5          0   0     1
Pole Shifting / Lt Sagging          0   7     0          0   3     0
Safety                              0   6     0          0  10     0
Solar                               0   0     0          0   0     0
Transformer failure / NCC           0   0     0          0   0     0
safety                              0   0     0          0   0     0
Grand_Total                         1  32     5          0  28     1

Age_Bucket                 91-180Days              >180Days             \
DEPT                       Commercial  O&M Other Commercial  O&M Other
COMPLAINT TYPE
Billing                             0    0     0          0    0     0
Civil works                         0   53     0          0   45     0
Low Voltage                         0    0     0          0    0     0
NSC                                 0    0     0          0    0     0
Others                              0    0     1          0    0     0
Pole Shifting / Lt Sagging          0   26     0          0   31     0
Safety                              0   21     0          0   24     0
Solar                               0    0     0          0    0     0
Transformer failure / NCC           0    0     0          0    0     0
safety                              0    0     0          0    1     0
Grand_Total                         0  100     1          0  101     0

Age_Bucket                 Grand_Total
DEPT
COMPLAINT TYPE
Billing                              1
Civil works                        148
Low Voltage                          1
NSC                                  8
Others                              12
Pole Shifting / Lt Sagging          72
Safety                              66
Solar                                1
Transformer failure / NCC            2
safety                               1
Grand_Total                        312

In [22]:
# Filter only >90Days and >180Days
filtered_df = open_aging_df[open_aging_df['Age_Bucket'].isin(['>90Days', '>180Days'])]

# Pivot table with complaint type + age bucket
pi_data_df = pd.pivot_table(
    filtered_df,
    values='CLOSED/OPEN',        
    index=['COMPLAINT TYPE'],       
    columns=['Age_Bucket','DEPT'], 
    aggfunc='count',
    fill_value=0
)

# ➡️ Add Grand Total column (row-wise sum)
pi_data_df['Grand_Total'] = pi_data_df.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pi_data_df.loc['Grand_Total'] = pi_data_df.sum(axis=0)

In [23]:
pi_data_df

Age_Bucket,<15Days,16-30Days,31-60Days,61-90Days,91-180Days,>180Days,Grand_Total
DEPT,O&M,O&M,O&M,O&M,O&M,O&M,
COMPLAINT TYPE,,,,,,,
Civil works,0,0,0,0,0,45,45
Pole Shifting / Lt Sagging,0,0,0,0,0,31,31
Safety,0,0,0,0,0,24,24
safety,0,0,0,0,0,1,1
Grand_Total,0,0,0,0,0,101,101

In [24]:
import pandas as pd

def open_complaint_pivot(file_path: str, sheet_name: str = None) -> pd.DataFrame:
    """
    Reads an Excel file and generates a pivot table of open complaints by department,
    including grand totals for rows and columns.

    Parameters
    ----------
    file_path : str
        Path to the Excel file.
    sheet_name : str, optional
        Name of the sheet to read (default: first sheet).

    Returns
    -------
    pd.DataFrame
        Pivot table with complaint counts and grand totals.
    """
    # Read Excel file
    df = pd.read_excel(file_path, sheet_name=sheet_name)

    # Filter only 'Open' complaints
    df_open = df[df['CLOSED/OPEN'] == 'Open']

    # Create pivot table
    pivot = pd.pivot_table(
        df_open,
        values='CLOSED/OPEN',          # countable field
        index='COMPLAINT TYPE',        # rows
        columns='DEPT',                # columns
        aggfunc='count',               # count complaints by dept
        fill_value=0
    )

    # Add Grand Total column (row-wise sum)
    pivot['Grand_Total'] = pivot.sum(axis=1)

    # Add Grand Total row (column-wise sum)
    pivot.loc['Grand_Total'] = pivot.sum(axis=0)

    return pivot

In [ ]:
df_open = df[df['CLOSED/OPEN'] == 'Open']

In [ ]:
pivot = pd.pivot_table(
    df_open,
    values='CLOSED/OPEN',          # numeric or countable field
    index='COMPLAINT TYPE',        # rows
    columns='DEPT',                # columns
    aggfunc='count',               # count complaints by dept
    fill_value=0
)
# ➡️ Add Grand Total column (row-wise sum)
pivot['Grand_Total'] = pivot.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pivot.loc['Grand_Total'] = pivot.sum(axis=0)

In [27]:
import pandas as pd

def open_complaint_pivot(file_path: str, sheet_name: str = None) -> pd.DataFrame:
    """
    Reads an Excel file and generates a pivot table of open complaints by department,
    including grand totals for rows and columns.
    """
    # Read Excel file
    df = pd.read_excel(file_path, sheet_name=sheet_name)

    # Normalize column names (strip spaces, make uppercase)
    df.columns = df.columns.str.strip().str.upper()

    # Check available columns
    # print(df.columns)   # uncomment to debug

    # Filter only 'OPEN' complaints
    if "CLOSED/OPEN" not in df.columns:
        raise KeyError("Column 'CLOSED/OPEN' not found. Available columns: " + str(df.columns.tolist()))

    df_open = df[df["CLOSED/OPEN"].str.upper() == "OPEN"]

    # Create pivot table
    pivot = pd.pivot_table(
        df_open,
        values="CLOSED/OPEN",          # countable field
        index="COMPLAINT TYPE",        # rows
        columns="DEPT",                # columns
        aggfunc="count",               # count complaints by dept
        fill_value=0
    )

    # Add Grand Total column (row-wise sum)
    pivot["Grand_Total"] = pivot.sum(axis=1)

    # Add Grand Total row (column-wise sum)
    pivot.loc["Grand_Total"] = pivot.sum(axis=0)

    return pivot