In [43]:
print("ok")

ok

In [44]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import os
import os
import sys
import pandas as pd
from typing import List, Dict, Optional
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")
import plotly.express as px

In [45]:
dataset_path = r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx'

In [46]:
df = pd.read_excel(r'C:\Users\TPWODL\New folder_Content\AutonomousDataAnalystAgent\data\raw\x_data.xlsx')

In [47]:
df.shape

(32873, 34)

In [48]:
df.head(1)

,SL.NO,DATE,SHIFT DUTY,QUERY/REQUEST/COMPLAINT,COMPLAINT DETAILS,COMPLAINT NUMBER,SECTION,SUB-DIVISION,DIVISION,CIRCLE,...,ARREARS,REPEAT (Y / N),FORWARDED TO,SENTIMENTS,NATURE OF TWEET,ACTIONABLE/ NON ACTIONABLE,AGEING,SLAB,SLAB2,MINUTE
0,1,2022-06-10,NaN,NaN,Mr. Mohan Maharana complaint regarding the fun...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1303.0,>180,>365,0.0

In [49]:
df_open = df[df['CLOSED/OPEN'] == 'open']

In [50]:
pivot = pd.pivot_table(
    df_open,
    values='CLOSED/OPEN',          # numeric or countable field
    index='COMPLAINT TYPE',        # rows
    columns='DEPT',                # columns
    aggfunc='count',               # count complaints by dept
    fill_value=0
)
# ➡️ Add Grand Total column (row-wise sum)
pivot['Grand_Total'] = pivot.sum(axis=1)

# ➡️ Add Grand Total row (column-wise sum)
pivot.loc['Grand_Total'] = pivot.sum(axis=0)

In [51]:
pivot

DEPT            Grand_Total
COMPLAINT TYPE
Grand_Total             0.0

In [52]:
import pandas as pd

def generate_complaint_pivot(dataset_path: str) -> pd.DataFrame:
    """
    Generate a pivot table of open complaints by department and complaint type,
    including grand totals for rows and columns.

    Parameters
    ----------
    datapath : str
        Path to the CSV file containing complaint data.

    Returns
    -------
    pd.DataFrame
        Pivot table with counts of open complaints, plus grand totals.
    """
    # Load dataset
    df = pd.read_excel(dataset_path)

    # Filter only open complaints
    df_open = df[df['CLOSED/OPEN'].str.lower() == 'open']
    
    # Create pivot table
    pivot = pd.pivot_table(
        df_open,
        values='CLOSED/OPEN',
        index='COMPLAINT TYPE',
        columns='DEPT',
        aggfunc='count',
        fill_value=0
    )

    # Add Grand Total column (row-wise sum)
    pivot['Grand_Total'] = pivot.sum(axis=1)

    # Add Grand Total row (column-wise sum)
    pivot.loc['Grand_Total'] = pivot.sum(axis=0)

    return pivot

In [53]:
pvt = generate_complaint_pivot(dataset_path)

In [54]:
pvt

DEPT                        Commercial  O&M  Other  Grand_Total
COMPLAINT TYPE
Billing                              1    0      0            1
Civil works                          0  148      0          148
Low Voltage                          0    1      0            1
NSC                                  8    0      0            8
Others                               0    0     12           12
Pole Shifting / Lt Sagging           0   72      0           72
Safety                               0   66      0           66
Solar                                1    0      0            1
Transformer failure / NCC            0    2      0            2
safety                               0    1      0            1
Grand_Total                         10  290     12          312

In [55]:
def open_complaint_pivot(dataset_path: str) -> pd.DataFrame:
    """
    Generate a pivot table of open complaints by department and complaint type,
    including grand totals for rows and columns.

    Parameters
    ----------
    dataset_path : str
        Path to the Excel file containing complaint data.

    Returns
    -------
    pd.DataFrame
        Pivot table with counts of open complaints, plus grand totals.
    """
    # Load dataset
    df = pd.read_excel(dataset_path)

    # Filter only open complaints (handle case-insensitive and NaN values)
    df_open = df[df['CLOSED/OPEN'].str.lower().str.strip() == 'open']
    
    # Create pivot table
    pivot = pd.pivot_table(
        df_open,
        values='CLOSED/OPEN',
        index='COMPLAINT TYPE',
        columns='DEPT',
        aggfunc='count',
        fill_value=0
    )

    # Add Grand Total column (row-wise sum)
    pivot['Grand_Total'] = pivot.sum(axis=1)

    # Add Grand Total row (column-wise sum)
    pivot.loc['Grand_Total'] = pivot.sum(axis=0)

    # **FIX: Convert all numpy types to native Python types**
    pivot = pivot.astype(int)  # Convert to Python int
    
    # Reset index to make 'COMPLAINT TYPE' a regular column
    pivot = pivot.reset_index()

    return pivot

In [56]:
vt = open_complaint_pivot(dataset_path)

In [57]:
vt

DEPT              COMPLAINT TYPE  Commercial  O&M  Other  Grand_Total
0                        Billing           1    0      0            1
1                    Civil works           0  148      0          148
2                    Low Voltage           0    1      0            1
3                            NSC           8    0      0            8
4                         Others           0    0     12           12
5     Pole Shifting / Lt Sagging           0   72      0           72
6                         Safety           0   66      0           66
7                          Solar           1    0      0            1
8      Transformer failure / NCC           0    2      0            2
9                         safety           0    1      0            1
10                   Grand_Total          10  290     12          312